#banner {
    width: 940px;
    margin-bottom: 30px;
    margin: 0 auto;
}

#banner img {
    width: 940px;
}

.message_h1 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.message_list form li {
    margin: 10px 0px;
}

.message_list form li button {
    width: 120px;
    height: 24px;
    background-color: #E2E9E4;
    color: #343132;
    border: 0px;
}

.message_list img {
    float: right;
    width: 630px;
}